{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ara y bustamente consultores</title>
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>

    <div class="topnav">
        <a class="active" href="#home">Inicio</a>
        <a href="#services">Servicios</a>
        <a href="#about">Nosotros</a>
        <a href="#contact">Contacto</a>
    </div>

    <div class="container mt-5">
        <img src="{% static 'core/img/logo.ico' %}" alt="Logo" class="mb-4 logo">
        <h1 class="text-center mb-4">Indicadores Financieros Actualizados</h1>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert
                    {% if message.tags %}
                        alert-{{ message.tags }}
                    {% endif %}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <form method="post" class="mb-4" action="{% url 'obtener_indicadores' %}"> {% csrf_token %}
            <div class="mb-3">
                <label for="indicador" class="form-label">Seleccionar Indicador:</label>
                <select class="form-select" name="indicador" id="indicador">
                    <option value="uf">UF</option>
                    <option value="euro">Euro</option>
                    <option value="dolar">Dólar</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary w-100">Obtener Datos</button>
        </form>

        {% comment %} {% if nombre_archivo_descarga %}
        <div class="mt-3 text-center">
            <a href="{% url 'descargar_indicador' nombre_archivo=nombre_archivo_descarga %}" class="btn btn-success">Descargar Archivo</a>
        </div>
        {% endif %} {% endcomment %}
    </div>

    <footer class="mt-5">
        <p>&copy; 2025 Ara y bustamante consultores. Todos los derechos reservados.</p>
        <p><a href="#contact">Contáctanos</a> | <a href="#privacy">Política de Privacidad</a></p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>